In [14]:
import pandas as pd
import sqlite3 as sqlite
import sqlalchemy as db

# Make a dummy sqlite db

In [15]:
con = sqlite.connect("inventories")

In [16]:
cur=con.cursor()

In [17]:
cur.execute('''create table if not exists part_inventory (part_name text, inventory int)''')

In [18]:
inventories = [('part1',100),('part2',20),('part3',50), ('part4',0)]
for inventory in inventories:
    cur.execute('insert into part_inventory values(?,?)',inventory)

In [19]:
con.commit()

In [20]:
engine = db.create_engine('sqlite:///inventories')

In [21]:
chunks = pd.read_sql_table('part_inventory',con=engine,columns=['part_name','inventory'],chunksize=2)

In [22]:
df = pd.concat([chunk for chunk in chunks], ignore_index=True)

In [23]:
df

  part_name  inventory
0     part1        100
1     part2         20
2     part3         50
3     part4          0